.prop_div{
    width: 40%;
    /* display: flex;
    flex-direction: column; */
    display: inline-block;
    margin-right: 60px;
}

.costumes_div{
    width:40%;
    display: inline-block;
    margin-left: 60px;
}

.content_div{
    display: flex;
}

